#header {
  width: 100%;
  height: 180px;
  .header_area {
    margin: 0 5%;
    font-size: 12px;
    color: #000;
    line-height: 1.5;
    letter-spacing: -1px;
    padding: 40px 0 51px;
    // header Top area
    .header_top_area {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header_logo {
        img {
          width: 180px;
        }
      }
      .header_link {
        ul {
          display: flex;
          align-items: center;
          li {
            &:first-child {
              position: relative;
              &:after {
                content: "";
                width: 1px;
                height: 100%;
                background: #9e9e9f;
                position: absolute;
                top: 0;
                right: 0;
              }
            }
            list-style: none;
            a {
              display: block;
              padding: 0 12px;
              position: relative;
              font-size: 20px;
              color: #9e9e9f;
              letter-spacing: -0.05em;
              line-height: 1;
              &.active {
                color: #2fb8bd;
                font-weight: 600;
              }
            }
          }
        }
      }
      .search_bar {
        position: relative;
        width: 396px;
        border: 2px solid #2fb8bd;
        border-radius: 5px;
      }
      .header_icon_menu {
        ul {
          display: flex;
          align-items: center;
          li {
            width: 60px;
            list-style: none;
            display: block;
            a {
              display: block;
              img {
                display: block;
                width: 30px;
                height: 36px;
                padding-bottom: 5px;
              }
              span {
                font-size: 11px;
                color: #717171;
                font-weight: 500;
                line-height: 16px;
              }
            }
          }
        }
      }
    }
    // header bottom area
    .header_bottom_area {
      display: flex;
      align-items: center;
      .category_container {
        position: relative;
        .category_btn {
          display: flex;
          align-items: center;
          gap: 20px;

          i {
            display: block;
            margin: 1px 0 0;
            position: relative;
            width: 20px;
            height: 19px;
            border: 3px solid #2fb8bd;
            border-width: 3px 0 3px 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            &::after {
              display: block;
              margin-top: -2px;
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              height: 3px;
              background: #2fb8bd;
              content: "";
            }
          }
        }
        span {
          font-size: 18px;
          font-weight: 600;
          line-height: 1;
        }
        // category
        .category_box {
          position: absolute;
          top: 100%;
          min-height: 420px;
          background: #fff;
          z-index: 100;
          display: flex;
          align-items: center;
          align-items: start;
          ul {
            width: 100%;
            max-height: 700px;
            overflow-y: auto;
            padding: 0;
            li {
              list-style: none;
              &.active {
                a {
                  color: #2fb8bd;
                  text-decoration: underline;
                  text-underline-offset: 4px;
                }
              }
              a {
                display: block;
                padding: 0 26px 16px;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: -0.05em;
              }
            }
          }
          .category_menu {
            background: #fcfcfc;
            width: 190px;
            padding: 25px 0;
            min-height: 420px;
          }
          .category_sub_menu_depth1 {
            background: #ebebeb;
            width: 190px;
            padding: 25px 0;
            min-height: 420px;
          }
          .category_sub_menu_depth2 {
            background: #dadada;
            width: 190px;
            padding: 25px 0;
            min-height: 420px;
          }
        }
      }
      // main menu
      .main_menu_container {
        margin: 0 auto;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style: none;

          li {
            display: block;
            padding: 0 24px;
            font-size: 18px;
            font-weight: 600;
            line-height: 23px;
            &.active {
              position: relative;
              &::after {
                display: block;
                position: absolute;
                top: -2px;
                right: 16px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #fe5f57;
                content: "";
              }
            }
          }
        }
      }
    }
  }
}
