.Swiper_container {
  width: 100%;
  height: 100%;

  .swiper-button-prev {
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 100;

    left: 10%;
    background: url("../../assets/images/main_swiper/arrow_prev_wh.png") 46% 50% /
      13px rgba(122, 122, 122, 0.5) no-repeat;
    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 100;

    right: 10%;
    background: url("../../assets/images/main_swiper/arrow_next_wh.png") 46% 50% /
      13px rgba(122, 122, 122, 0.5) no-repeat;
    &::after {
      display: none;
    }
  }

  .swiper-pagination {
    margin: 30px 0;
    .swiper-pagination-bullet {
      margin: 0 7px !important;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #d9d9d9;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        background: #2fb8bd;
      }
    }
  }

  .swiper-wrapper {
    padding: 0 0 90px 0;
    .slide {
      width: 100%; /* 슬라이드의 너비를 전체 너비로 설정 */
      height: 300px; /* 슬라이드의 높이를 원하는 높이로 설정 */
    }

    .slide_box {
      width: 100%; /* 슬라이드 내부 요소의 너비를 100%로 설정 */
      height: 100%; /* 슬라이드 내부 요소의 높이를 100%로 설정 */
      background-size: cover; /* 배경 이미지를 요소에 맞게 조절 */
      background-position: center; /* 배경 이미지를 가운데 정렬 */
      &.bg1 {
        background-image: url("../../assets/images/main_swiper/2a2c97985002ef89cea4ff9978561c5f.gif");
      }
      &.bg2 {
        background-image: url("../../assets/images/main_swiper/c3b04d981fee35d9609b668c54b2be3c.jpg");
      }
      &.bg3 {
        background-image: url("../../assets/images/main_swiper/840dc7323bd27c2df404d0aaab6c6a38.jpg");
      }
      &.bg4 {
        background-image: url("../../assets/images/main_swiper/dd8b0f2e37ef81b07bdfb39b9ab07fea.gif");
      }
      &.bg5 {
        background-image: url("../../assets/images/main_swiper/0b73e1b9860cfab5d5cf4f7ee873a76a.jpg");
      }
      &.bg6 {
        background-image: url("../../assets/images/main_swiper/cb9e6013ba68749b3c8513257b99eb57.jpg");
      }
    }
  }
}
