.Main_inner_box {
  text-align: center;
  h1 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1;
    position: relative;
    .moreBtn {
      position: absolute;
      bottom: 0;
      right: 0;
      a {
        font-size: 18px;
        color: #424242;
        font-weight: 300;
        line-height: 1.1;
        text-decoration: none;
        cursor: pointer;
        span {
          padding-left: 20px;
          position: relative;
          font-size: 18px;
          color: #424242;
          font-weight: 300;
          line-height: 1.1;
        }
      }
    }
  }
  .category_menu {
    padding: 70px 0 0 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      li {
        display: block;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        white-space: nowrap;
        border-radius: 500px;
        background: #f1f1f1;
        cursor: pointer;
        &.active {
          color: #fff;
          background: #2fb8bd;
        }
      }
    }
  }
  .item_container {
    padding-top: 70px;
    ul {
      width: 100%;
      display: flex;
      gap: 25px;
      overflow-x: scroll;
      scroll-behavior: smooth;
      /* 스크롤바의 폭 너비 */
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px; /* 스크롤바 둥근 테두리 */
      }

      &::-webkit-scrollbar-track {
        background: rgba(220, 20, 60, 0.1); /*스크롤바 뒷 배경 색상*/
      }
    }
  }
}
