.search-form {
  padding: 5px 45px 5px 15px;
  width: 100%;
  height: 43px;
  font-size: 16px;
  border: 0;
  box-sizing: border-box;
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.3);
  .searchImg {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .search-bar {
    display: none;
  }
}
