#footer {
  margin: 0 auto;
  position: relative;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  background: #fff;

  .footer_area {
    margin: 0 5%;
    font-size: 12px;
    color: #000;
    line-height: 1.5;
    letter-spacing: -1px;
    padding: 40px 0 51px;
    display: flex;
    justify-content: space-between;

    .footer_logo {
      img {
        max-width: 195px;
        width: 100%;
      }
      .footer_icon_box {
        ul {
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: start;
          padding: 0;
          li {
            img {
              max-width: 25px;
              vertical-align: top;
            }
          }
        }
      }
    }
    .infoBox {
      span {
        display: block;
        font-size: 13px;
        line-height: 23px;
        color: #717171;
        i {
          padding: 0 10px;
          font-style: initial;
        }
      }
      .certifyInfo {
        padding: 20px 0 18px;
        width: auto;
        text-align: left;
        overflow: hidden;
        a {
          color: #000;
          text-decoration: none;
          background: none;
        }
      }
      .copyright {
        span {
          font-size: 10px;
          color: #717171;
          line-height: 18px;
          letter-spacing: normal;
        }
      }
      .info_menu_box {
        ul {
          display: flex;
          align-items: center;
          gap: 26px;
          padding: 0;
          li {
            a {
              display: block;
              font-size: 15px;
              color: #717171;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: normal;
              text-decoration: none;
            }
          }
        }
      }
    }
    .csBox {
      h2 {
        font-size: 17px;
        color: #717171;
        font-weight: 500;
        line-height: 25px;
        margin: 0;
      }
      h1 {
        padding: 4px 0 5px;
        font-size: 40px;
        color: #717171;
        font-weight: 700;
        line-height: 58px;
        margin: 0;
      }
      p {
        font-size: 15px;
        color: #717171;
        line-height: 28px;
        letter-spacing: normal;
        margin: 0;
      }
    }
  }
}
