#Home_page {
  .home_page_container {
    // 메인 카테고리 메뉴
    .main_cate_wrap {
      margin: 0 15%;
      padding-top: 110px;
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        li {
          a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: initial;
            span {
              display: block;
              margin-top: 20px;
              font-size: 18px;
              font-weight: 600;
              line-height: 26px;
            }
          }
        }
      }
    }

    // 메인 배너
    .main_banner_wrap {
      margin: 0 15%;
      padding-top: 110px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        border-radius: 20px;
      }
    }
    // 메인 베스트 배너
    .main_best_wrap {
      padding: 110px 0 140px;
    }
    // 메인 맞춤 PICK! 배너
    .main_pick_wrap {
      padding: 110px 0 140px;
      background: #f1f1f1;
    }
    // 메인 따끈따끈한 신상품
    .main_new_wrap {
      padding: 110px 0 140px;
      background: #2fb8bd;
    }
  }
}
